<br>

<table class="table table-striped table-bordered">
  <tr class="text-center thead-light">
    <th>Nome do Filme</th>
    <th>Episódio</th>
    <th>Diretor</th>
    <th>Ano</th>
    <th></th>
  </tr>

  <% if @movies.nil? %>
    <tr class="text-center">
      <td colspan="6">
        <strong>Api de dados fora do ar.</strong>
      </td>
    </tr>
  <% else %>
    <% @movies["results"].each do |item| %>
      <%= render partial: 'core/table', locals: { item: item,  likes: @likes} %>
    <% end %>
  <% end %>
</table>
