<br>

<table class="table table-striped table-bordered">
  <tr class="text-center thead-light">
    <th>Nome do Filme</th>
    <th>Episódio</th>
    <th>Diretor</th>
    <th>Ano</th>
    <th></th>
  </tr>
  
  <% @movies["results"].each do |item| %>
    <%= render partial: 'core/table', locals: { item: item,  likes: @likes} %>
  <% end %>
</table>

<%= render "form" %>
