<tr>
  <td><%= item["title"] %></td> 
  <td><%= item["episode_id"] %></td> 
  <td><%= item["director"] %></td> 
  <td class="text-center"><%= item["release_date"].to_date.strftime("%Y") %></td> 
</tr>
