<br>

<table class="table table-striped table-bordered">
  <tr class="text-center thead-light">
    <th>Nome do Filme</th>
    <th>Episódio</th>
    <th>Diretor</th>
    <th>Ano</th>
  </tr>
  <% @movies["results"].each_with_index do |item, index| %>
    <%= render partial: 'application/table', locals: { item: item,  index: index} %>
  <% end %>
</table>

 
    
  
